MONGODB_URI=mongodb://localhost:27017/interview
PORT=3000
NODE_ENV=development

AI_API_KEY=sk-7bd0aed4710a418eb656cfc2c469a66e
AI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
AI_MODEL=glm-5.1
